In [2]:
import pandas as pd

mic = pd.read_csv('./data/MIC.csv')
mic.head()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
mic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Columns: 124 entries, ID to LET_IS
dtypes: float64(110), int64(14)
memory usage: 1.6 MB

In [10]:
mic.isnull().sum().sort_values(ascending = False).head(20)

KFK_BLOOD        1696
IBS_NASL         1628
S_AD_KBRIG       1076
D_AD_KBRIG       1076
NOT_NA_KB         686
LID_KB            677
NA_KB             657
GIPER_NA          375
NA_BLOOD          375
K_BLOOD           371
GIPO_K            369
AST_BLOOD         285
ALT_BLOOD         284
S_AD_ORIT         267
D_AD_ORIT         267
DLIT_AG           248
ROE               203
ritm_ecg_p_06     152
ritm_ecg_p_08     152
ritm_ecg_p_01     152
dtype: int64